<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:flex="http://www.springframework.org/schema/flex"
	xsi:schemaLocation="       
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd       
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd       
      http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd       
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd       
      http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
      http://www.springframework.org/schema/flex
      http://www.springframework.org/schema/flex/spring-flex-1.0.xsd"
	default-autowire="byName">
	
	<!-- sys -->
	<bean id="sysSecretKeyMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.holley.platform.dao.sys.SysSecretKeyMapper" />
	</bean>
	<bean id="sysDefAreaMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.holley.platform.dao.sys.SysDefAreaMapper" />
	</bean>	
	<bean id="sysLinkMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.holley.platform.dao.sys.SysLinkMapper" />
	</bean>
	<bean id="sysLinkTypeMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.holley.platform.dao.sys.SysLinkTypeMapper" />
	</bean>	
	<!-- <bean id="sysAccountroleMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.holley.platform.dao.sys.SysAccountroleMapper" />
	</bean>
	<bean id="sysDefAreaMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.holley.platform.dao.sys.SysDefAreaMapper" />
	</bean>	
	<bean id="sysLinkMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.holley.platform.dao.sys.SysLinkMapper" />
	</bean>
	<bean id="sysLinkTypeMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.holley.platform.dao.sys.SysLinkTypeMapper" />
	</bean>	
	<bean id="sysModuledefMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.holley.platform.dao.sys.SysModuledefMapper" />
	</bean>	
	<bean id="sysButtondefMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.holley.platform.dao.sys.SysButtondefMapper" />
	</bean>
	<bean id="sysNoticeMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.holley.platform.dao.sys.SysNoticeMapper" />
	</bean>	
	<bean id="sysNoticeTemplateMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.holley.platform.dao.sys.SysNoticeTemplateMapper" />
	</bean>
	<bean id="sysOperationLogMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.holley.platform.dao.sys.SysOperationLogMapper" />
	</bean>	
	<bean id="sysRoleMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.holley.platform.dao.sys.SysRoleMapper" />
	</bean>
	<bean id="sysRolemoduleMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.holley.platform.dao.sys.SysRolemoduleMapper" />
	</bean>	
	<bean id="sysRuleMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.holley.platform.dao.sys.SysRuleMapper" />
	</bean>	
	<bean id="sysCarBrandMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.holley.platform.dao.sys.SysCarBrandMapper" />
	</bean>	 -->
</beans>