<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.holley.platform.dao.sys.SysSecretKeyMapper" >
  <resultMap id="BaseResultMap" type="com.holley.platform.model.sys.SysSecretKey" >
    <id column="operatorID" property="operatorid" jdbcType="VARCHAR" />
    <result column="operatorSecret" property="operatorsecret" jdbcType="VARCHAR" />
    <result column="dataSecret" property="datasecret" jdbcType="VARCHAR" />
    <result column="dataSecretIV" property="datasecretiv" jdbcType="VARCHAR" />
    <result column="sigSecret" property="sigsecret" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    operatorID, operatorSecret, dataSecret, dataSecretIV, sigSecret, time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.holley.platform.model.sys.SysSecretKeyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_secret_key
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_secret_key
    where operatorID = #{operatorid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_secret_key
    where operatorID = #{operatorid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.holley.platform.model.sys.SysSecretKeyExample" >
    delete from sys_secret_key
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.holley.platform.model.sys.SysSecretKey" >
    insert into sys_secret_key (operatorID, operatorSecret, dataSecret, 
      dataSecretIV, sigSecret, time
      )
    values (#{operatorid,jdbcType=VARCHAR}, #{operatorsecret,jdbcType=VARCHAR}, #{datasecret,jdbcType=VARCHAR}, 
      #{datasecretiv,jdbcType=VARCHAR}, #{sigsecret,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.holley.platform.model.sys.SysSecretKey" >
    insert into sys_secret_key
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="operatorid != null" >
        operatorID,
      </if>
      <if test="operatorsecret != null" >
        operatorSecret,
      </if>
      <if test="datasecret != null" >
        dataSecret,
      </if>
      <if test="datasecretiv != null" >
        dataSecretIV,
      </if>
      <if test="sigsecret != null" >
        sigSecret,
      </if>
      <if test="time != null" >
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="operatorid != null" >
        #{operatorid,jdbcType=VARCHAR},
      </if>
      <if test="operatorsecret != null" >
        #{operatorsecret,jdbcType=VARCHAR},
      </if>
      <if test="datasecret != null" >
        #{datasecret,jdbcType=VARCHAR},
      </if>
      <if test="datasecretiv != null" >
        #{datasecretiv,jdbcType=VARCHAR},
      </if>
      <if test="sigsecret != null" >
        #{sigsecret,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.holley.platform.model.sys.SysSecretKeyExample" resultType="java.lang.Integer" >
    select count(*) from sys_secret_key
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_secret_key
    <set >
      <if test="record.operatorid != null" >
        operatorID = #{record.operatorid,jdbcType=VARCHAR},
      </if>
      <if test="record.operatorsecret != null" >
        operatorSecret = #{record.operatorsecret,jdbcType=VARCHAR},
      </if>
      <if test="record.datasecret != null" >
        dataSecret = #{record.datasecret,jdbcType=VARCHAR},
      </if>
      <if test="record.datasecretiv != null" >
        dataSecretIV = #{record.datasecretiv,jdbcType=VARCHAR},
      </if>
      <if test="record.sigsecret != null" >
        sigSecret = #{record.sigsecret,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_secret_key
    set operatorID = #{record.operatorid,jdbcType=VARCHAR},
      operatorSecret = #{record.operatorsecret,jdbcType=VARCHAR},
      dataSecret = #{record.datasecret,jdbcType=VARCHAR},
      dataSecretIV = #{record.datasecretiv,jdbcType=VARCHAR},
      sigSecret = #{record.sigsecret,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.holley.platform.model.sys.SysSecretKey" >
    update sys_secret_key
    <set >
      <if test="operatorsecret != null" >
        operatorSecret = #{operatorsecret,jdbcType=VARCHAR},
      </if>
      <if test="datasecret != null" >
        dataSecret = #{datasecret,jdbcType=VARCHAR},
      </if>
      <if test="datasecretiv != null" >
        dataSecretIV = #{datasecretiv,jdbcType=VARCHAR},
      </if>
      <if test="sigsecret != null" >
        sigSecret = #{sigsecret,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where operatorID = #{operatorid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.holley.platform.model.sys.SysSecretKey" >
    update sys_secret_key
    set operatorSecret = #{operatorsecret,jdbcType=VARCHAR},
      dataSecret = #{datasecret,jdbcType=VARCHAR},
      dataSecretIV = #{datasecretiv,jdbcType=VARCHAR},
      sigSecret = #{sigsecret,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP}
    where operatorID = #{operatorid,jdbcType=VARCHAR}
  </update>
</mapper>